<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--配置MemSessionProvider为Web程序的Session提供者-->
  <!--servers： Memcached服务ip和端口，多服务时分号间隔 -->
  <sessionState mode="Custom" customProvider="MemSessionProvider">
    <providers>
      <add name="MemSessionProvider" type="MemCachedLib.Session.MemSessionProvider,MemCachedLib" server="127.0.0.1:11211" />
    </providers>
  </sessionState>
</configuration>
